#-----------------------------------------
# Files to ignore
#-----------------------------------------
/Tools/VSModelSync/ignoreAsms.txt
/Tools/VSModelSync/VSModelSync.pdb
/Tools/VSModelSync/VSModelSync.exe
/Tools/VSModelSync/dump.cs
/vsmodel
bin
obj
.vs
packages
*.user
